--extra-index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pymupdf
rank-bm25
sentence-transformers
faiss-cpu
openai
nltk
numpy
